@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;900&display=swap');

@font-face {
  font-family: Arial, 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;900&display=swap');
}

:root {
  --base-color: #3CB6AC;
  --second-color:white;
  --third-color:#0C525C;
  --fourth-color: #ffb4a2;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:var(--base-color);
}
/* Login Display */ 
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr; 
  padding: 0 20px 20px 20px;
}
.homeImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.logotype {
  max-height: 190px;
  padding-top:10%;
}
.grid h3{
  display: none;
}
.formLogin {
  margin-top: 2%;
  display: grid;
  grid-column: 1;
  grid-row: 2/2;
  place-self: center;
  gap: 20px;
}
.emailBox, .passwordBox, .buttonLog{
  grid-column: auto;
  place-self: center;
  margin: 2%;
  width: 18rem;
  height: 2rem;
  border-radius: 10px;
  font-family: 'Roboto';
}
.buttonLog {
  margin: 2%;
  width: 18rem;
  height: 2.5rem;
  background:var(--third-color);
  color:var(--second-color);
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: 'Roboto';
  padding-top:5px;
  padding-bottom:5px;
}
.options {
  grid-column: 1/-1;
  grid-row: 3/3;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
}
.secondOptionText {
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
}
.googleButton {
  width: 12%;
  display: block;
  margin-left: 45%;
  margin-top: 4%;
  margin-bottom: 12%;
  cursor: pointer;
}
/* Registro Display */
.logoReg {
  max-width: 110px;
  padding:10%;
}
.title {
  display: none;
}
.regDisplay {
  display: grid;
  justify-content: center;
}
.signupForm {
  display: grid;
  justify-content: center;
  row-gap:10px;
}
.emailBox, .passwordBox {
  display: inline-block;
  background:#F6F6F6;
  border: none;
  padding:8px 8px 8px 16px;
  font-family: 'Roboto';
  font-size:0.8rem;
}
.emailBox::placeholder, .passwordBox::placeholder{
  font-size:D
}
.signinOptionText {
  text-align: center;
  color:#FFFFFF;
  font-size:0.8rem;
  margin-top:5%;
  margin-bottom:5%;
}
.signinOptionText a:link, .signupOptionText a:link {
  color:#0C525C;
  font-weight: 600;
  text-decoration: none;
}
.signinOptionText a:visited, .signupOptionText a:visited{
  color:#0C525C;
}
.conditionsText {
  padding:10%;
  text-align: center;
  color:#d3e7e6;
  font-size:0.7rem;
}
/* Verifica Email Display */
.verifyEmailTitle {
  color: #0C525C;
  text-align: center;
  font-size: 6vw;
}
.validateEmailP {
  color: #FFFFFF;
  text-align: center;
  font-size: 0.8rem;
}
.buttonLog a:link, .buttonLog a:visited{
  color: #FFFFFF;
  text-decoration: none;
}
/* Feed-Muro Display */
.menu{
  flex-direction: column;
}
.logoutButton {
  position: relative;
  width: 283px;
  height: 38px;
  left: 8px;
  top: 200px;
  background: #0C525C;
  border: 2px solid #B0AAAA;
  border-radius: 10px;
}
/* grid feed */
.containerFeedGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(5%) 3fr 1fr; 
  background-color: white;
  height: 100vh;
  overflow-y: scroll;
}

.containerTopBar{
  grid-row: 1;
  background:var(--base-color);
}
.containerAddPost{
  grid-row: 2;
  display: none;
}
.containerNavBar{
  grid-row: 3;
}
.containerRightBar{
  display:none;
}
.containerCreatePost{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(5%) 3fr 1fr; 
  background-color: white;
  height: 100vh;
}
.containerProfile{
  grid-row: 2;
}
