.composePostContainer{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(5%) 3fr 1fr; 
  background-color: white;
}

.containerModalPost{
  width: 90%;
  margin: 5%;
  margin-top:0%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
}

.containerComposePost{
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: white;
  grid-row:1;
  /* border-bottom:  1px solid #cecece; */
}

.modalHeader{
  display:flex;
  cursor: pointer;
  flex-direction: row; 
  justify-content: flex-end;
  border-bottom: 1px solid #cecece;
}

.backLink{
  text-align: center;
  color: #3CB6AC;
  background-color: #dbfffc;
  border-radius: 5px 20px 5px;
  width: 7%;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 2%;
  margin-right: auto;
  display: block;
}

.backLink:hover{
  color: white;
  background:rgba(85, 138, 146, 0.58)
}

.infoTextContainer{
  display: flex;
}

.textPostModal{ 
  padding-left: 2%;
  padding-top:5%;
  font-size: 1.2rem;
  font-family: 'Roboto';
  width: 75%;
  height: 150px;
  outline: none;
  resize: none;
  border:none;
  border-bottom:  1px solid #d6d6d6;   
}

.modalFooter{
  display:flex;
  cursor: pointer;
  flex-direction: row; 
  margin-top: 3%;
  justify-content:flex-end;
}

.topPostButton{
  width: 6rem;
  height: 2rem;
  padding: 5px;
  cursor: pointer;
  align-self: flex-end;
  background-color: #0C525C;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin:2%;
}

.bottomPostButton{
  display: none;
}


@media screen and (min-width: 600px) {
  .composePostContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr; 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
  }

  .containerComposePost{
    grid-column: 2;
    grid-row: 2;
    width: 70%;
    margin: auto;
    padding: 1% 2% 2% 2%;
    max-width:100%;
    background-color: #ffff;
    border-radius: 30px;
    z-index: 11; 
    /* flex-direction: column-reverse; */
  }

  .modalHeader{
    display:flex;
    cursor: pointer;
    flex-direction: row; 
    justify-content: flex-start;
    height:60px;
  }

  .topPostButton{
    display: none;
  }

  .textPostModal{
    padding-left: 0%;
    width: 85%;
  }

  .modalFooter{
    display:flex;
    cursor: pointer;
    flex-direction: row; 
    justify-content: flex-end;
    /* margin-top:5%; */
  }

  .bottomPostButton{
    width: 7rem;
    height: 3rem;
    padding: 5px;
    cursor: pointer;
    align-self: flex-end;
    background-color: #0C525C;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    margin-right: 2%;
  }
  .bottomPostButton:hover{
    background: var(--fourth-color);
  }
}