.editContainer{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: fit-content(5%) 3fr 1fr; 
  background-color: white;
  height: 100vh;
}

.editModal{
  width: 100%;
  margin-bottom:1% ;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  border-bottom:  solid #B0AAAA;
}

.backLink{
  text-align: center;
  margin: 3%;
  color: #0C525C;
  /* background-color: #0C525C; */
  border-radius: 20px;
  width: 7%;
  font-size: 2rem;
  cursor: pointer;
}
.backLink:hover{
    color: white;
    background:#0c515c94;
  }

.modalHeader{
border-bottom: 2px solid #B0AAAA;
}
.feedPicProfile {
  width: 70px;
  margin: 2%;
}

@media screen and (min-width: 600px) {
  .editContainer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
  }

  .editModal{
    width: 500px;
    height: 250px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -170px;
    color:blanchedalmond;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    z-index: 11; 
  }
