@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    text-align: center;
    display: grid;
    background-color:#3CB6AC;
}

.containerLoginClass{
    display: grid;
    grid: auto;
    width:100%;
    height:100%;
    grid-template-columns: 1fr;
    grid-template-rows :3fr; 
}

.homeImage{
        align-items: center;
        margin-top: 10%;
        grid-column: 1/-1;
        grid-row: 1/-1;
        justify-content: center;
        padding: 20px;
}
.slogan{
    display: none;
}
.logotipo{
    max-width: 400px;
}
.formRegister{
    margin: auto;
    display: block;
    grid-column: 1;
    grid-row: 2/2;
    width: 90%;
    max-width: 500px;
    justify-content: center;
    }
.linkRegister{
    margin-top: 5%;
    grid-column: 1/-1;
    grid-row: 3/3; 
    display: block;

}
.buttonLogHref, .secondOptionTextHref , .secondOptionText1Href{
    text-decoration: none;
    color: white;
}
.emailBox {
    margin: 2%;
    width: 283px;
    height: 38px;
    left: 46px;
    top: 200px;
    bottom: 100px;
    border-radius: 10px;
    
}

.passwordBox {
    margin: 2%;
    width: 283px;
    height: 38px;
    left: 46px;
    top: 200px;
    border-radius: 10px;
}

.buttonLog {
    margin: 2%;
    width: 283px;
    height: 38px;
    left: 46px;
    top: 200px;
    background: #0C525C;
    border: 2px solid #B0AAAA;
    border-radius: 10px;
    
}

.secondOptionText, .secondOptionText1 {
    margin: 2%;
    justify-content: center;
    color: blanchedalmond;
}
.gmailxsvg{
    display: block;
    margin-left: 50%;
    width: 10%;
}

.logoutButton {
    position: relative;
    width: 283px;
    height: 38px;
    left: 8px;
    top: 200px;

    background: #0C525C;
    border: 2px solid #B0AAAA;
    border-radius: 10px;
}




