@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@400;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color:#3CB6AC;
}

/* Login Display */ 

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr; 
  padding: 0 20px 20px 20px;
}

.homeImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.logotype {
  max-height: 190px;
  padding-top:10%;
}

.grid h3{
  display: none;
}

.formLogin {
  margin-top: 2%;
  display: grid;
  grid-column: 1;
  grid-row: 2/2;
  place-self: center;
  gap: 20px;
}

.emailBox, .passwordBox, .buttonLog{
  grid-column: auto;
  place-self: center;
  margin: 2%;
  width: 18rem;
  height: 2rem;
  border-radius: 10px;
  font-family: 'Roboto';
}

.buttonLog {
  margin: 2%;
  width: 18rem;
  height: 2.5rem;
  background: #0C525C;
  color:white;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: 'Roboto';
  padding-top:5px;
  padding-bottom:5px;
}

.options {
  grid-column: 1/-1;
  grid-row: 3/3;
  text-align: center;
  justify-content: center;
  font-size: 0.8rem;
}

.secondOptionText {
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
}

.googleButton {
  width: 12%;
  display: block;
  margin-left: 45%;
  margin-top: 4%;
  margin-bottom: 12%;
}

/* Registro Display */

.logoReg {
  max-width: 110px;
  padding:10%;
}

.title {
  display: none;
}

.regDisplay {
  display: grid;
  justify-content: center;
}

.signupForm {
  display: grid;
  justify-content: center;
  row-gap:10px;
}

.emailBox, .passwordBox {
  display: inline-block;
  background:#F6F6F6;
  border: none;
  padding:8px 8px 8px 16px;
  font-family: 'Roboto';
  font-size:0.8rem;
}

.emailBox::placeholder, .passwordBox::placeholder{
  font-size:0.8rem;
}

.signinOptionText {
  text-align: center;
  color:#FFFFFF;
  font-size:0.8rem;
  margin-top:5%;
  margin-bottom:5%;
}

.signinOptionText a:link, .signupOptionText a:link{
  color:#0C525C;
  font-weight: 600;
  text-decoration: none;
}

.signinOptionText a:visited, .signupOptionText a:visited{
  color:#0C525C;
}

.conditionsText {
  padding:10%;
  text-align: center;
  color:#d3e7e6;
  font-size:0.7rem;
}

/* Feed-Muro Display */

.logoutButton {
  position: relative;
  width: 283px;
  height: 38px;
  left: 8px;
  top: 200px;
  background: #0C525C;
  border: 2px solid #B0AAAA;
  border-radius: 10px;
}

/* Desktop */

@media screen and (min-width: 600px) {
  body {
    font-size: 20px;
    background: white;
    margin: 0;
    padding: 0;
  }

  /* Login Display */ 
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh; 
    text-align: center;
    gap: 10px;
  }

  .homeImage {
    display: flex;
    background:#3CB6AC;
    grid-column: 1/2;
    grid-row-end: span 3;
    border-radius: 0px 119px 119px 0px;
    justify-content: space-around;
    margin-left: -50px;
  }

  .logotype {
    max-height: 400px;
    max-width: 400px;
  }

  .grid h3{
    display: flex;
    align-items: center;;
    justify-content: center;
    font-size: 35px;
    font-family: 'Roboto';
    color: #3CB6AC;
  }

  .formLogin {
    margin-top: 0;
    text-align: center;
    grid-template-columns: 1fr;
    grid-column: 2;
    grid-row: 2;
    row-gap: 0;
    align-items: center;
  }

  .emailBox, .passwordBox, .buttonLog{
    width: 20rem;
    height: 2.7rem;
    font-size: 1rem;
  }

  .emailBox:focus, .passwordBox:focus{
    outline: none;
    box-shadow: 0px 0px 5px #4d4d4d;
  } 

  .emailBox::placeholder, .passwordBox::placeholder{
    font-size:1rem;
  }

  .buttonLog {
    font-weight: 600;
    font-size:1rem;
    /* letter-spacing:1px; */
  }

  .buttonLog:hover {
    cursor: pointer;
    background:#f6ae2e;
  }

  .options {
    display: grid;
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    justify-content: center;
  }

  .secondOptionText {
    font-size:1rem;
    color: #0C525C;
    text-align: center;
  }

  .googleButton {
    width: 20%;
    margin-left: 40%;
  }

  .signupOptionText {
    font-size: 1rem;
    color: #0C525C;
    margin-top: 20%;
  }

  .signupOptionText a:link {
    color:#0C525C;
    text-decoration: none;
    font-weight: bold;
  }

  .signupOptionText a:hover {
    color: #f6ae2e;
  }

  /* Registro Display */

  .regDisplay {
    grid-row: 2;
    justify-content: center;
    grid-template-columns: fit-content(500px);
    row-gap:100px;
  }

  .logoReg {
    display: none;
  }

  .title {
    display: grid;
    justify-content: center;
  }

  .regTitle {
    text-align: center;
    font-size: 5rem;
    color: #0C525C;
    margin-bottom:0;
  }

  .regSubtitle {
    text-align: right;
    color: #0C525C;
    font-size: 1.2rem;
  }

  .signupForm {
    display: grid;
    justify-content: center;
  }

  .signinOptionText{
    margin-top:10%;
    color:#0C525C;
    font-size:0.9rem;
  }

  .signinOptionText a{
    color:#0C525C;
    font-weight: bold;
    text-decoration: none;
  }

  .signinOptionText a:hover{
    color:#f6ae2e;
  }

  .conditionsText {
    text-align: center;
    color:grey;
    font-size:0.8rem;
    margin-top:-5%;
  }

  /* Feed-Muro Display */
}