*{
    margin: 0;
    padding: 0;
}

.containerAddPost{
    width: 90%;
    margin: 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}
.containerPost{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    border-bottom:  solid #B0AAAA;
    display: none;
}
.containerComposePost{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    border-bottom:  solid #B0AAAA;
}
.backLink{
    display: none;
    margin: 2%;
    text-decoration: none;
}
.feedPicProfile{
    width:50px;
}
.createPostText{ 
    padding: 5px;
    font-size: 1rem;
    outline: none;
    resize: none;
    border: none;    
}
.postButtonLink{
    width: 5rem;
    padding: 5px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-end;
    background-color: #0C525C;
    border-radius: 10px;
    border: none;
    color: white;
    }
.containerPublicPost{
    width:105%;
    display: flex;
    flex-direction: column;
}
.li{ 
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1%;
    list-style: none;
    background-color: white;
    border-radius: 2px;
    border-bottom: solid #B0AAAA;
}   
.textDescription{
    font-size: 1rem;
    color:  #5c5858;
}   
    
.interactionWrapper{
    display:flex;
    cursor: pointer;
    flex-direction: row; 
    justify-content: flex-end;
}

@media screen and (min-width: 600px) {
    .containerAddPost{
        width: 100%;
    
    }
    .containerPost{
        width: 100%;
        display: block;
    }

}