*{
    margin: 0;
    padding: 0;
}

.containerAddPost{
    width: 90%;
    margin: 5%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
}
.containerPost{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    border-bottom:  solid #B0AAAA;
    display: none;
}

.backLink{
    display: block;
    margin: 2%;
    text-decoration: none;
}
.feedPicProfile{
    width:50px;
}
.createPostText{ 
    padding: 5px;
    font-size: 1.5rem;
    outline: none;
    resize: none;
    border: none;    
}
.postButtonLink{
    width: 5rem;
    height: 2rem;
    padding: 5px;
    cursor: pointer;
    /* margin-top: 10px; */
    align-self: flex-end;
    background-color: #0C525C;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1rem;
}
..postButtonLink:hover{
    color: #0c515c94;
    background:#ffff;
}
.containerPublicPost{
    width:105%;
    display: flex;
    flex-direction: column;
}
.li{ 
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 1%;
    list-style: none;
    background-color: white;
    border-radius: 2px;
    border-bottom: solid #B0AAAA;
}   

.timeStamp{
  color: #5c5858;
  font-size: 1rem;
}

.textDescription{
    font-size: 1rem;
    color:  #5c5858;
}
    
.interactionWrapper{
    display:flex;
    cursor: pointer;
    flex-direction: row; 
    justify-content: flex-end;
}

.deletePost {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.deletePost .deletePostText{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.deletePost:hover .deletePostText {
  visibility: visible;
}

@media screen and (min-width: 600px) {
    .containerAddPost{
        width: 100%;
    
    }
    .containerPost{
        width: 100%;
        display: block;
        display: flex;
    }

}